<div class="col-md-4">
    <h4 class="lead">식당 추가하기</h4>
        <form action="/append" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">식당 이름</label>
                <input type="text" class="form-control" name="restaurant" placeholder="식당 이름을 입력하세요.">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">메뉴</label>
                <input type="text" class="form-control" name="menu" placeholder="메뉴를 입력해주세요.">
            </div>
            <button type="submit" class="btn btn-default" >추가하기</button>
        </form>
</div>